<div class="row">
  <div class="col s6 offset-s3">

    {{#if error}}
      <h4 style="text-align: center; color:red" class="alert">{{error}}</h4>
    {{/if}}

    <h2 style="text-align: center; color:blue">New Password</h2>
    <hr />
    <form class="addhbs" action="/auth/password" method="POST">
      <div class="row">


        <div class="input-field col s12">
          <input
            id="phone"
            type="number"
            class="validate"
            required
            name="phone"
          />
          <label for="phone">Номер телефона</label>
          <span class="helper-text" data-error="Введите номер телефона"></span>
        </div>

        <div class="input-field col s12">
          <input
            id="password"
            type="password"
            class="validate"
            required
            name="password"
          />
          <label for="password">Парол</label>
          <span class="helper-text" data-error="Введите парол"></span>
        </div>




        <input type="hidden" name="_csrf" value="{{csrf}}" />
        <input type="hidden" name="userId" value="{{userId}}" />
        <input type="hidden" name="token" value="{{token}}" />

        <button class="btn btn-primary" type="submit">Update</button>
      </div>
    </form>
  </div>

</div>