body {
    position: relative;
}

.nav-wrapper {
    padding: 0 20px;
}

.material-icons {
    font-size: 40px !important;
}

.container {
    width: 100% !important;
    max-width: 1400px !important;
}

.box1 {
    width: 250px;
}

.imgindex {
    width: 100%;
    position: absolute;
    left: 0;
}

.price {
    font-size: 32px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.drug {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardName {
    width: 100%;
    min-height: 120px;
}

.price.big {
    font-size: 40px;
}

.card-action.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addhbs {
    margin-top: 100px !important;
    margin-bottom: 160px !important;
}

.empty {
    width: 100%;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drug-form {
    margin-bottom: 20px;
}

.content_swiper {
    max-width: 900px;
    background: rgb(195, 191, 191);
}

.card-image {
    height: 400px;
}

.images_edit {
    display: flex;
    justify-content: space-between;
}

.editimg {
    width: 25%;
}

.auth {
    padding-top: 2rem;
}
.alert{
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2rem;
    background-color: rgb(88, 2, 2);
    color: red;
}
.mySwiper{
    overflow: hidden;
}